<!DOCYPE html>
<html>
    <head>
        
         <title>create</title> 
        
    </head>
     <%- include ../base/header.html %> 
    <body>
        <div>
           <div>category id:<%= id %></div>
            <div>category name:<%= name %></div>
            <form action="/category/delete" method="delete">
              <input type="hidden" value="<%= id %>" name='id'>
              <input type="submit" value="del">
            </form>
           <a href="/category/list">list</a>
        </div>
    </body>
      <%- include ../base/footer.html %> 
</html>